<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.dao.IolistDao">
	<select id="selectAll" resultType="Idto"></select>
	<select id="findById" resultType="Idto">
	SELECT * FROM tbl_iolist
	WHERE IO_SEQ = #{io_seq}
	</select>
	<insert id="insert" parameterType="Idto">
		INSERT INTO tbl_iolist(
			IO_SEQ,
		IO_DATE,
		IO_INOUT,
		IO_QTY,
		IO_PRICE,
		IO_TOTAL,
		IO_PCODE,
		IO_DCODE
		) VALUES (
		SEQ_IOLIST.NEXTVAL,
		#{io_date},
		#{io_inout},
		#{io_qty},
		#{io_price},
		#{io_total},
		#{io_pcode},
		#{io_dcode}			
	)
	</insert>
	<update id="update" parameterType="Idto">
	 UPDATE tbl_iolist SET
	 
		IO_DATE = #{ io_date},
		IO_INOUT = #{ io_inout},
		IO_QTY = #{ io_qty},
		IO_PRICE = #{ io_price},
		IO_TOTAL = #{ io_total},
		IO_PCODE = #{ io_pcode},
		IO_DCODE = #{ io_dcode}
		
		WHERE 	IO_SEQ = #{	io_seq}

		
	
	</update>
	<delete id="delete" parameterType="Idto">
	DELETE FROM tbl_iolist 
	WHERE IO_SEQ = #{io_seq}
	</delete>
</mapper>