<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.rent.dao.RentBookDao">

	<select id="rentYN" resultType="RentBookDTO">
		SELECT  * FROM tbl_rent_book
		WHERE rent_bcode = ? AND rent_rent_yn IS NULL;
	</select>
	<select id="selectAll" resultType="RentBookDTO">
		SELECT * FROM tbl_rent_book
	</select>
	
	<select id="findById" resultType="RentBookDTO">
		SELECT
		RENT_SEQ,
		RENT_DATE,
		RENT_RETURN_DATE,
		RENT_BCODE,
		RENT_UCODE,
		RENT_RETUR_YN,
		RENT_POINT
		FROM tbl_rent_book
		RENT_SEQ = #{rent_seq}
	</select>
	<select id="findByBCode" resultType="RentBookDTO">
		SELECT
		RENT_SEQ,
		RENT_DATE,
		RENT_RETURN_DATE,
		RENT_BCODE,
		RENT_UCODE,
		RENT_RETUR_YN,
		RENT_POINT
		FROM tbl_rent_book
		RENT_BCODE = #{rent_bcode}
	</select>
	<select id="findByUCode" resultType="RentBookDTO">
		SELECT
		RENT_SEQ,
		RENT_DATE,
		RENT_RETURN_DATE,
		RENT_BCODE,
		RENT_UCODE,
		RENT_RETUR_YN,
		RENT_POINT
		FROM tbl_rent_book
		RENT_UCODE = #{rent_ucode}
	</select>
	<insert id="insert" parameterType="RentBookDTO">
		INSERT INTO tbl_rent_book(
		RENT_SEQ,
		RENT_DATE,
		RENT_RETURN_DATE,
		RENT_BCODE,
		RENT_UCODE,
		RENT_RETUR_YN,
		RENT_POINT
		)VALUES(
		#{rent_seq},
		#{rent_date},
		#{rent_return_date},
		#{rent_bcode},
		#{rent_ucode},
		#{rent_retur_yn},
		#{rent_point}
		)
	</insert>
	<update id="update" parameterType="RentBookDTO">

		UPDATE tbl_rent_book SET
		RENT_DATE = #{rent_date},
		RENT_RETURN_DATE =
		#{rent_return_date},
		RENT_BCODE = #{rent_bcode},
		RENT_UCODE =
		#{rent_ucode},
		RENT_RETUR_YN = #{rent_retur_yn},
		RENT_POINT =
		#{rent_point}

		WHERE RENT_SEQ = #{rent_seq}

	</update>
	<delete id="delete" parameterType="RentBookDTO">
		DELETE FROM tbl_rent_book
		WHERE RENT_SEQ = #{rent_seq}
	</delete>

</mapper> 