<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.dao.DeptDao">
	<select id="selectAll" resultType="Ddto"></select>
	<select id="findById" resultType="Ddto"></select>
	<insert id="insert" parameterType="Ddto"></insert>
	<update id="update" parameterType="Ddto"></update>
	<delete id="delete" parameterType="Ddto"></delete>
</mapper>